<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BazaarTrackerWidgetExtension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LiveBazaarWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Zentra Watch Controls Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Zentra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>menu.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE4EC1D92E02BD3F00DE1E35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE64BF1F2DDDDC1A0082C674</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE64BF332DDDDC1C0082C674</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE64BF3D2DDDDC1C0082C674</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE7366592DFF56220085031D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
